<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>twitterApp</title>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/font-awesome.css" rel="stylesheet">
    
</head>
<body>
    
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/"><img alt="" height="30" src="img/logo.png" width="30"></a>
			
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Start</a>
					</li>
					
				
				</ul>
				<ul class="nav navbar-nav nav-pills pull-right">
					<li style="list-style: none">{{#if user}}</li>
					<li role="presentation">
						<form action="/account" method="post">
							<input class="hidden-*-up" hidden="" name="username" type="text" value="{{user.username}}"> <input class="btn btn-outline-primary account-btn btn-block" type="submit" value="{{user.firstname}}">
						</form>
					</li>
					<li role="presentation">
						<a class="btn btn-outline-secondary btn-block" href="/users/logout">Logga ut</a>
					</li>
					<li style="list-style: none">{{else}}</li>
					<li role="presentation">
						<form action="/login">
							<input class="btn btn-outline-primary account-btn btn-block" type="submit" value="Logga in">
						</form>
					</li>
					<li role="presentation">
						<a class="btn btn-outline-secondary btn-block" href="/register">Nytt konto</a>
					</li>
					<li style="list-style: none">{{/if}}</li>
				</ul>
			</div>
			
			
		</nav>
   
   		
				 {{#if success_msg}}
		    <div class="alert alert-success alert-dismissible show alert-custom flash-msg" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
            {{{success_msg}}}</div>
        {{/if}}
        
				 {{#if error_msg}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
            {{{error_msg}}}</div>
                    {{/if}} 
                    
                    
                     {{#if fail_msg}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
            {{{fail_msg}}}</div>
                    {{/if}} 
                    
					 {{#if error}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
            {{{error}}}</div>
                    {{/if}} 
                    
                	 {{#if errors}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
            {{{errors}}}</div>
                    {{/if}} 
                    
                    
                    	 {{#if errors}}{{#each error}}
		    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button>
            {{{error_msg}}}</div>
                   {{/each}}
                    {{/if}} 
    
    {{{body}}}
    
    	<footer>
			<p>&copy; 2017 Alexander Masud</p>
		</footer>
	
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script> 
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script> 
	<script src="/js/script.js"></script>
    
    
</body>
</html>