
           <div class="container">

           
   
        <div class="col-lg-2"></div>
    
   
<p>ENPOLITIKER</p>
           
   {{#politiker}}
           
        <div class="row">
        <div class="col s12">
           

          <div class="card horizontal z-depth-3">
         
           
            <div class="card-image">
              <img src="{{bild_url_80}}" alt="Porträtt på riksdagsledamoten {{tilltalsnamn}} {{efternamn}}">
            </div>
            <span class="card-title"><h4>{{tilltalsnamn}} {{efternamn}}</h4></span>
            <div class="card-content">
              <p>{{valkrets}} {{parti}}</p>
              <a href="/politician/{{intressent_id}}" class="btn btn-default" type="submit">Mer info</a>
            </div>
            
           

        
          </div>
   
          
        
        </div>
      </div>
      

        {{/politiker}}
        
        {{#tweets}}
        
         <div class="card horizontal z-depth-3">
         
           
           
            
            <div class="card-content">
              <p> {{text}}</p>
              
            </div>

        
          </div>
        
       
        
        {{/tweets}}

  
    </div> 
   