
           <div class="container">

           
   
        <div class="col-lg-2"></div>
    
   

           
   {{#politiker}}
           
        <div class="row">
        <div class="col s12">
           

          <div class="card horizontal z-depth-3">
         
           
            <div class="card-image">
              <img src="{{bild_url_192}}" alt="Portr채tt p책 riksdagsledamoten {{tilltalsnamn}} {{efternamn}}">
            </div>
            <span class="card-title"><h4>{{tilltalsnamn}} {{efternamn}}</h4></span>
            <div class="card-content">
              <p>{{valkrets}} {{parti}}</p>
            </div>
            
           

        
          </div>
   
          
        
        </div>
      </div>
      

        {{/politiker}}
        
        {{#tweets}}
        
         <div class="card horizontal z-depth-3">
         
            <div class="card-image">
              <img src="{{user.profile_image_url}}" alt="Portr채tt p책 riksdagsledamoten {{tilltalsnamn}} {{efternamn}}">
            </div>
           
             <span class="card-title"><p>{{user.name}}</p></span>
            <div class="card-content">
              <p> {{text}}</p>
              
            </div>

        
          </div>
        
       
        
        {{/tweets}}

  
    </div> 
   